$columns: 12;
$offset: 30px;
$offsetOneSide: ($offset / 2);
$pathImg: "../img/";
$colorWhite: #fff;
$colorBlack: #000;

// .offset(@offset) {

// }

// .col ($val, $clmn: $columns, $ofse: $offset) {
// 	$width: (100% / $clmn * $val);
// 	width: calc(@width - @ofse);
// 	word-wrap: break-word;
// }

// .maxWidth ($backImg: none, $backColor: none) {
// 	&::before {
// 		content: "";
// 		width: 100vw;
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		bottom: 0;
// 		left: calc((-100vw + 100%) / 2);
// 		background-color: $backColor;
// 		background: $backImg;
// 		z-index: -1;
// 	}
// }

// .mouseDevise ($hoverColor: none, $hoverBgColor: none) {
// 	@media (hover: hover) and (pointer: fine) {
// 		color: $hoverColor;
// 		background-color: $hoverBgColor;
// 	}
// }

// .fontSizeTitle($small, $large) {
// 	font-size: clamp(@small, 10vw, @large);
// }

// .lineHeightTitle($small, $large) {
// 	line-height: clamp(@small, 12vw, @large);
// }

// .fontStyle($fSize, $fWeight, $lHeight, $fColor: $colorBlack) {
// 	font-size: $fSize;
// 	font-weight: $fWeight;
// 	line-height: $lHeight;
// 	color: $fColor;
// }

// .sizeBtn(@small, @large) {
// 	width: clamp(@small, 5vw, @large);
// 	height: clamp(@small, 5vw, @large);
// }

.btnReset {
	border: 0;
	padding: 0;
	background: transparent;
	cursor: pointer;
}

.btn {
	display: inline-block;
	min-width: 180px;
	border: 0;
	padding: 20px 15px;
	// border-radius: 30px;
	// text-decoration: none;
	text-align: center;
	background-color: $colorWhite;
}

// .gradientText () {
// 	background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
// 	-webkit-text-fill-color: transparent;
// 	-webkit-background-clip: text;
// }
