@mixin col($val, $clmn, $ofst) {
	$width: (100% / $clmn * $val);
	width: calc($width - $ofst);
	word-wrap: break-word;
}

@mixin maxWidth(
	$backImg: none,
	$backColor: none
) {
	&::before {
		content: "";
		width: 100vw;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: calc((-100vw + 100%) / 2);
		background-color: $backColor;
		background: $backImg;
		z-index: -1;
	}
}

@mixin mouseDevise(
	$hoverColor: none,
	$hoverBgColor: none
) {
	@media (hover: hover) and (pointer: fine) {
		color: $hoverColor;
		background-color: $hoverBgColor;
	}
}

@mixin fontSizeTitle($small, $large) {
	font-size: clamp(
		$small,
		10vw,
		$large
	);
}

@mixin lineHeightTitle($small, $large) {
	line-height: clamp(
		$small,
		12vw,
		$large
	);
}

@mixin fontStyle(
	$fSize,
	$fWeight,
	$lHeight,
	$fColor: $colorBlack
) {
	font-size: $fSize;
	font-weight: $fWeight;
	line-height: $lHeight;
	color: $fColor;
}

@mixin sizeBtn($small, $large) {
	width: clamp($small, 5vw, $large);
	height: clamp($small, 5vw, $large);
}
